body{
    background: url("/static/images/background.jpeg");
    background-repeat: no-repeat;
    background-size:700px;
    background-position: right;        
}
.column {
    width: 15%;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    background-color: #77a58e;
    margin: 40px 20px;
    border-radius: 10px;
}

.row {
    display: flex;
}
.atag{
    text-decoration: none;
    color: white;
}
.content{
    background-color: rgb(241, 248, 212);
    width: 50%;
    margin: auto;

}

#msg{
    margin-left: 70%;
    background-color: green;
    color: white;
    height: 30px;
    font-size: 18px;
    position: absolute;
    margin-top: 20px;
    padding: 15px 15px;
    width: 250px;

    
}