{% load static %}
<html>
    <head>
        <link href="{% static 'style/admin_home.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'style/user_reg.css' %}" type="text/css" rel="stylesheet">
        <script  src="{% static 'script/admin.js' %}"></script>
    </head>
    <body onload="showMessage()">
            <p id="msg" hidden>{{message}}</p>
        <div class="row">
            <div class="column">
                <a href="/saveuser" class="atag" onclick="displayForm()">Register Student</a>
            </div>
            <div class="column">
                     <a href="/create-exam" class="atag" onclick="displayForm()">Create Exam</a>
            </div>
            <div class="column">
                <a href="#" class="atag">View Reports</a>
            </div>
        </div>

        <div class="row">
             <div class="content">
                {% block content %}
                {% endblock %}
             </div>
        </div>
    </body>
</html>