{% extends 'admin_home.html' %}

{% block content %}

    <div>
        <h2>User Details</h2>
    </div>
   <form action="" method="">
        <div>
            <input type="text" name="name" placeholder="Name" class="inputs">
        </div>
        <div>
            <input type="text" name="email" placeholder="Email" class="inputs">
        </div>
        <div>
            <input type="text" name="password" placeholder="Password" class="inputs">
        </div>
        <div>
            <input type="text" placeholder="Confirm Password" class="inputs">
        </div>
        <div class="radio-div">
            <label>Male</label>
            <input type="radio" name="gender" value="male"> 
        </div>
        <div class="radio-div">
            <label>Female</label>
            <input type="radio" name="gender" value="female">
        </div>
        <div>
            <input type="submit" value="Register" id="btn">
        </div>
   </form>
{% endblock %}