{% extends 'admin_home.html' %}

{% block content %}
<style>
    h2{
        background-color: rgb(21, 152, 240);
        text-align: center;
        color: white;
        margin: 0;
    }
    .inputs{
        border: none;
        border-bottom: 1px solid black;
        width: 95%;
        margin: 30px 10px;
        background: none;
        outline: none;
        font-size: 18px;
    }
    .radio-div{
        display: inline-block;
        margin:30px 10px;
        font-size: 18px;
    }
    #btn
    {
        margin: 12px 38%;
        background-color: rgb(4, 155, 54);
        text-align: center;
        color: white;
        width: 20%;
        height: 42px;
        font-size: 18px;
        cursor: pointer;
    }
   
</style>
    <div>
        <h2>User Details</h2>
    </div>
   <form action="" method="">
        <div>
            <input type="text" name="name" placeholder="Name" class="inputs">
        </div>
        <div>
            <input type="text" name="email" placeholder="Email" class="inputs">
        </div>
        <div>
            <input type="text" name="password" placeholder="Password" class="inputs">
        </div>
        <div>
            <input type="text" placeholder="Confirm Password" class="inputs">
        </div>
        <div class="radio-div">
            <label>Male</label>
            <input type="radio" name="gender" value="male"> 
        </div>
        <div class="radio-div">
            <label>Female</label>
            <input type="radio" name="gender" value="female">
        </div>
        <div>
            <input type="submit" value="Register" id="btn">
        </div>
   </form>
{% endblock %}